<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bingli.MoliAPI.mapper.InterfaceInfoMapper">

    <resultMap id="BaseResultMap" type="com.bingli.MoliAPI.model.entity.InterfaceInfo">
        <id property="id" column="id"/>
        <result property="appId" column="appId"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="url" column="url"/>
        <result property="requestHeader" column="requestHeader"/>
        <result property="responseHeader" column="responseHeader"/>
        <result property="requestParams" column="requestParams"/>
        <result property="requestExample" column="requestExample"/>
        <result property="responseParams" column="responseParams"/>
        <result property="returnFormat" column="returnFormat"/>
        <result property="status" column="status"/>
        <result property="method" column="method"/>
        <result property="totalNum" column="totalNum"/>
        <result property="userId" column="userId"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
        <result property="isDelete" column="isDelete"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, appId, name, description, url, requestHeader, responseHeader,
        requestParams, requestExample, responseParams, returnFormat,
        status, method, totalNum, userId, createTime, updateTime, isDelete
    </sql>
</mapper>
